<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br />
    <div class="container" style="width: 40%;">
        <h4>Payment for Room Bookings</h1>

            <form method="post" action="{% url 'item_payment' %}">
                {% csrf_token %}
                    <input type="text" name="name" value={{nm}} required readonly>               
                    <input type="text" name="amount" value={{pr}} required readonly>
            
            
                <button type="submit">PAY</button>
                <br /><br />
            </form>


            {% if payment %}
            <form action="{% url 'paymentStatus' %}" method="post">
                <script src="https://checkout.razorpay.com/v1/checkout.js" 
                    data-key="rzp_test_ank5gb82ed6Jfx"
                    data-amount="{{payment.amount}}" 
                    data-currency="{{payment.currency}}" 
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay" 
                    data-name="Item Corp"
                    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                    data-image="https://example.com/your_logo.jpg" 
                    ata-prefill.name="{{payment.name}}"
                    data-prefill.email="vaibhavmalviya89@gmail.com" 
                    data-theme.color="#F37254">
                    </script>
                <input type="hidden" custom="Hidden Element" name="hidden">
            </form>
            {% endif %}
    </div>


    </div>

</body>

</html>